@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    color: blueviolet;
    font-family: 'Ubuntu', sans-serif;
}
hr{
    margin: 2rem 0.5rem;
}

#main_header{
    color: blue;
}

.container{
    padding: 1rem 3rem;
    background-color: aquamarine;
}

.fluid{
    color: blanchedalmond;
}

.centercontainer{
    max-width: 400px;
    margin: auto;
}

.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}
.primarylink{
    color: blue;
    border-radius: 0.5rem;
    border: 2px solid;
    border-color: burlywood;
}
.secondarylink{
    color: cornflowerblue;
    background-color: burlywood;
    border-radius: 1rem;
}


.list{
    color: crimson;
}
.unordered{
    list-style: none;
}
.inline{
    display: inline;
    padding: 0rem 1rem;
}


.navigation{
    padding: 1rem;
    background-color:olivedrab;
    color: antiquewhite;
}
.navlist{
    color: blanchedalmond;
    text-align: right;
}
.navheading{
    font-size: 1.5rem;
    color:rgb(158, 66, 66);
}




.headerimg{
    max-width: 250px;
    display: block;
    margin: auto;}
.headerhead{
    background-color: rgb(152, 214, 90);
    color: azure;
    padding: 3rem;
    margin: 0 auto;
    width: fit-content;
}

ol{
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: auto;
}





.actual{
    color: black;
    /* align-items: center; */
    margin: auto;
    border: 1px solid;
    text-align: center;
    margin-bottom: 1rem;
}

.actual h2{
    margin: 1rem 0;
}
.button{
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    color: blueviolet;
    border-radius: 2rem;
    border: 1px solid blueviolet;
}



.live{
    background-color: blueviolet;
    color: azure;
}